mat-form-field{
    background:rgb(41, 39, 39);
    border-radius: 5px;
}
div#bank-details{
    margin-top: 20px;   
}
mat-button{
    background: rgb(114, 56, 56);
}
.mat-raised-button {
    margin: 5px;
 }