<nav>
    <button mat-raised-button routerLink="/inicio">Início</button>
</nav>
<div>
    <h1>Novo Cadastro:</h1>
    <h3>Escolha um banco:</h3>


<form>
  <mat-form-field appearance="fill">
    <mat-label>Banco</mat-label>
    <mat-select >
      <mat-option *ngFor="let banco of banco" [(value)]="banco.name" [class.selected]="banco === selectedBanco" (click)="onSelect(banco)">
        {{ banco.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
<div id="bank-details" *ngIf="selectedBanco">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{selectedBanco.name | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{selectedBanco.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h3>Codigo do banco:</h3>
      <h4>{{selectedBanco.code}}</h4>
      <h3>Nome completo:</h3>
      <h4>{{selectedBanco.fullName}}</h4>
      <h3>ISPB:</h3>
      <h3>{{selectedBanco.ispb}}</h3>

      <form class="example-form">

        <mat-form-field class="example-full-width">
          <mat-label>Insira seu nome</mat-label>
          <input id="nome" #nome matInput placeholder="Digite seu nome">
        </mat-form-field>

        <form class="example-form">

          <mat-form-field class="example-full-width">
            <mat-label>Conta</mat-label>
            <input id= "conta" #conta matInput placeholder="00000-0" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label >Agência</mat-label>
            <input id= "agencia" #agencia matInput placeholder="0000" >
          </mat-form-field>

        </form>

      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="save(nome.value, conta.value, agencia.value, selectedBanco)">Salvar</button>
      <button mat-button routerLink="/inicio" >Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
</form>


