<nav>
  <button mat-raised-button id= "goCadastro" routerLink="/cadastro-conta"><mat-icon>control_point</mat-icon>Cadastrar</button>
  <button mat-raised-button id= "goCadastro" routerLink="/contas"><mat-icon>list</mat-icon>Lista de contas</button>
</nav>
<h2>Tela de início</h2>
<h3>Bem vindo ao cadastro de contas bancárias.</h3>
<p>Um projeto feito para desenvolver habilidades em <a href="https://nodejs.org/en/">node.js</a> e tornar mais fluente as noções ded <a href="https://angular.io/"> Angular</a>. </p>
<p>Você pode adicionar novas contas ou consultar as contas já existentes.</p>



 

